extends layout

block content
  h1 #{title}
  p Welcome to #[em LocalLibrary], um simples webSite Express desenvolvido com um exemplo do tutorial de MDN. 
  
  h1 Dymanic content
  
  if error
    p Error ao buscar conteudo dinamico
  else
    p the library has the following record counts:
    
    ul
      li #[strong Books:] !{data.book_count}
      li #[Strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}
